$Catamaran: 'Catamaran', sans-serif;
$Lato: 'Lato', sans-serif;
$heavy: 700;
$light: 300;

$off-white: #F9FFFF;
$light-grey: #D3D3D3;
$grey: #BDBDBD;
$dark-grey: #696969;
$text-color: #2A2A2A;
$blue: #718DA5;
$tan: #D4A86A;

body {
  background-color: $off-white;
  color: $dark-grey;

  h1 {
    font-size: 50px;
    font-family: $Catamaran;
    font-weight: $light;
    letter-spacing: 5px;
    text-align: center;
    margin: 25px 0;
  }

  .container {
    margin: 0 auto;
    text-align: center;

    .row {
      display: flex;
      justify-content: center;

      .cell {
        height: 155px;
        width: 155px;
        transition: background-color 300ms;
        &:hover {
          background-color: #E7E7E7;
        }
      }

      .mid-row {
        border-top: 5px solid $light-grey;
        border-bottom: 5px solid $light-grey;
      }

      .mid-col {
        border-left: 5px solid $light-grey;
        border-right: 5px solid $light-grey;
      }
      .x {
        background: url(../../images/x.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $blue;
      }

      .o {
        background: url(../../images/o.png);
        background-repeat: no-repeat;
        background-position: center;
        background-color: $tan;
      }

    }

  }

  .aux-container {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin: 0 auto;
    align-items: center;
    margin-top: 5px;

    .reset {
      flex: 1;
      font-family: $Lato;
      font-size: 25px;
      color: $dark-grey;
      background-color: $light-grey;
      width: 50%;
      height: 50px;
      border: none;
      border-radius: 4px;
      margin: 5px auto;
      transition: background-color 200ms;
      &:hover {
        background-color: $grey;
      }
      &:focus {
        outline: none;
      }
      &:active {
        background-color: $dark-grey;
      }
    }

    .game-text {
      flex: 2;
      font-size: 40px;
      font-family: $Lato;
      font-weight: $light;
      letter-spacing: 3px;
      text-align: center;
    }
  }
}
